/* Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.iconset {
  height: 100vh;
  display: block;
  background-image: url("../images/Summersky.jpeg");
  background-size: cover;
  text-align: center;
}

.icon-heart, .icon-peace, .icon-arrow, {
  color: white;
  font-size: 20em;
}

.icon-heart:hover, .icon-peace:hover, .icon-arrow:hover {
  color: #b9dbf9;
  font-size: 20em;
}
