@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.iconset {
    padding-top: 200px;
    height: 100vh;
    display: block;
    background-image: url("../images/Summersky.jpeg");
    background-size: cover;
    text-align: center;
}

.icon-heart, .icon-arrow, .icon-peace {
    color: $white;
    font-size: 20em;
    &:hover {
    color: $babyblue;
    font-size: 20em;
    }
}

.icon-heart, .icon-arrow, .icon-peace i {
  vertical-align:inherit;
}
