@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.iconset {
    padding-top: 200px;
    height: 100vh;
    display: block;
    background-image: url("../images/Summersky.jpeg")
    background-size: cover;
    text-align: center;
}

.icon-heart, .icon-arrow, .icon-peace {
    font-size: 20em;
    color: white;
}

.icon-heart:hover,
.icon-heart:active,
.icon-heart:focus {
 color: #b9dbf9;
}

.icon-peace:hover,
.icon-peace:active,
.icon-peace:focus {
 color: #b9dbf9;
}

.icon-arrow:hover,
.icon-arrow:active,
.icon-arrow:focus {
 color: #b9dbf9;
}
.icon-heart, .icon-arrow, .icon-peace i {
  vertical-align:inherit;
}

